@model CMS.Models.Percel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Percel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReceivingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReceivingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Branch.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Receiver)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receiver.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sender.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
