@model IEnumerable<CMS.Models.PercelLocation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var serial = 1;
}

<div class="well">
    <h4 class="alert bg-primary text-center">Percel Locations</h4>

    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr class="bg-primary">
                <th>SL No.</th>
                <th>
                    @Html.DisplayNameFor(model => model.Percel.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BranchId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Percel.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (serial % 2 == 0)
                {
                    <tr class="warning">
                        <td>@serial</td>
                         <td>
                            @Html.DisplayFor(modelItem => item.Percel.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Branch.Name)
                        </td>                      
                        <td>
                            @Html.DisplayFor(modelItem => item.Percel.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="success">
                        <td>@serial</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Percel.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Branch.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Percel.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                    </tr>
                }

                serial++;
            }
        </tbody>
    </table>
</div>
